*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
}
.body{
    font-family: "Akaya Telivigala", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  width: 100vw;
  height: 100vh;
}
.main{
    margin: 300px auto;

    display: grid;
    height: 33vh;
    width: 33vw;
    border: 0.2rem red solid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    " facebook line-top username"
    "google or password"
    "twitter line-down login";

    
}
.facebook{
    border: 0.2rem red solid;
    text-indent: 2rem ;
    grid-area: facebook;

}
.goohle{
    border: 0.2rem red solid;
text-indent: 2rem;
grid-area: google;
}
.twitter{
    border: 0.2rem red solid;
    text-indent: 2rem ;
    grid-area: twitter;

}

.line-top{
    border: 0.2rem red solid;
    text-indent: 2rem ;
    grid-area: line-top;

}


.or{
    border: 0.2rem red solid;
    text-indent: 2rem ;
    grid-area: or;

}


.line-down{
    border: 0.2rem red solid;
    text-indent: 2rem ;
    grid-area: line-down;

}


.username{
    border: 0.2rem red solid;
    text-indent: 2rem ;
    grid-area: username;

}

.password{
    border: 0.2rem red solid;
    text-indent: 2rem ;
    grid-area: password;

}

.login{
    border: 0.2rem red solid;
    text-indent: 2rem ;
    grid-area: login;

}


